html {
  background: white;
  color: black;
}

body{
  font: normal medium 'Gill Sans','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
  padding: 0;
  margin: 0 auto;
  width: 40em;
  line-height: 1.75;
  word-spacing: 0.1em
}

a, a#visited {
  color: black;
}

h3, p {
  margin: 0;
}

div.datastream {
  font-size: 1.2em;
  color: black;
}

div.datastream.minor {
  font-size: 0.8em;
  color: #666;
}

p#last_update {
  position: absolute;
  top: 4px;
  right: 10px;
}
